@if({user: user$ | async, selectedRoute: selectedRoute$ | async}; as context){
    @if(context.user?.email){
        @if(mobile$ | async){
            <ion-grid>
                <ion-row>
                    <ion-col width="3"></ion-col>
                    <ion-col align="center">
                        <ion-list>
                            <ion-item>
                                <ion-select interface="popover" [value]="selectedRoute" (ionChange)="selectChange($event)">
                                    <ion-select-option value={{MGCGlobals.routes.ACCOUNT}}>Account</ion-select-option>
                                    <ion-select-option value={{MGCGlobals.routes.FLIGHTS}}>Flights</ion-select-option>
                                    <ion-select-option value={{MGCGlobals.routes.MEMBERSHIP}}>Membership</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col width="3"></ion-col>
                </ion-row>
            </ion-grid>
        }
        @else{
           <ion-grid>
                <ion-row>
                    <ion-col size="4"></ion-col>
                    <ion-col size="8">
                        <ion-button fill="clear" [disabled]="context.selectedRoute == MGCGlobals.routes.ACCOUNT" (click)="navAccountsPage()">
                            <ion-icon name="cash-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4"></ion-col>
                    <ion-col size="8">
                        <ion-button fill="clear" [disabled]="context.selectedRoute == MGCGlobals.routes.FLIGHTS" (click)="navFlightsPage()">
                            <ion-icon name="airplane-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                    <ion-row>
                    <ion-col size="4"></ion-col>
                    <ion-col size="8">
                        <ion-button fill="clear" [disabled]="context.selectedRoute == MGCGlobals.routes.MEMBERSHIP" (click)="navUserPage()">
                            <ion-icon name="person-circle-outline" (click)="navUserPage()"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col align="left">
                        <br/>
                        <ion-button (click)="signOut()" expand="block" color="primary">Sign Out</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        }
    }
}