<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                   <ion-img src="assets/logo.png"></ion-img>
            </ion-col>
            <ion-col size="10" align="center"><h1>Membership</h1></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <ion-grid>
                    <ion-row>
                        <ion-col align="left">
                            <br/>
                            <app-nav-flights></app-nav-flights>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col align="left">
                            <br/>
                            <app-nav-accounts></app-nav-accounts>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col align="left">
                            <br/>
                            <ion-button (click)="signOut()" [disabled]="signingOut" expand="block" color="primary">Sign Out</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col size="10">
                @if(member){
                <ion-grid>
                    <ion-row>
                        <ion-col size="3"></ion-col>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label>
                                    <h3>Email:</h3>
                                    {{member.EMail}}
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3"></ion-col>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label>
                                    <h3>AFR_Due:</h3>
                                    {{member.AFR_Due.toLocaleDateString()}}
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3"></ion-col>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label>
                                    <h3>Balance last month end:</h3>
                                    {{member.BalLastMonthEnd}}
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3"></ion-col>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label>
                                    <h3>Charged To Ref:</h3>
                                    {{member.ChargeTo_ref}}
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3"></ion-col>
                        <ion-col size="6">
                            <ion-item>
                                <ion-label>
                                    <h3>Date Last Flight:</h3>
                                    {{member.DateLastFlight.toLocaleDateString()}}
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size="3"></ion-col>
                    </ion-row>
                </ion-grid>
                }
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
