@if(member$ | async; as member){
    @if(member){
    <ion-grid>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Email:</h3>
                        {{member.EMail}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Name:</h3>
                        {{member.Name}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Latest balance:</h3>
                        {{member.LatestBalance | currency:"GBP"}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Next flying checks due:</h3>
                        {{member.AFRDue.toLocaleDateString()}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Charge to name:</h3>
                        {{member.ChargeToName}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Date joined:</h3>
                        {{member.DateJoined.toLocaleDateString()}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Date last flight:</h3>
                        {{member.DateLastFlight.toLocaleDateString()}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Emergency contact:</h3>
                        {{member.EmergencyContact}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Gift aid miles:</h3>
                        {{member.GiftAidMiles}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Medical valid to:</h3>
                        {{member.MedicalValidTo?.toLocaleDateString()}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Member Type:</h3>
                        {{member.MemberType}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>MembershipExpires:</h3>
                        {{member.MembershipExpires.toLocaleDateString()}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Membership No:</h3>
                        {{member.MembershipNo}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Postcode:</h3>
                        {{member.Postcode}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Tel home:</h3>
                        {{member.TelHome}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-item>
                    <ion-label>
                        <h3>Tel mobile:</h3>
                        {{member.TelMobile}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
    </ion-grid>
    }
}
