@if({user: user$ | async}; as context){
    <ion-grid>
        @if(context.user){
            <ion-row>
                <ion-col size="4.5"></ion-col>
                <ion-col size="3">
                    <br/>
                    <ion-button (click)="signOut()" expand="block" color="primary">Sign Out</ion-button>
                </ion-col>
                <ion-col size="4.5" align="center">
                    <ion-icon (click)="navUserPage()" name="person-outline"></ion-icon>
                </ion-col>
            </ion-row>
        }
    </ion-grid>
}