<ion-grid>
    <ion-row>
        <ion-col [size]="colEdge"></ion-col>
        <ion-col [size]="colCentre">
            <ion-input [(ngModel)]="inputEmail" color="grey" placeholder="enter email"></ion-input>
        </ion-col>
        <ion-col [size]="colEdge"></ion-col>
    </ion-row>
    <ion-row>
        <ion-col [size]="colEdge"></ion-col>
        <ion-col [size]="colCentre">
            <ion-input [(ngModel)]="inputPassword" type="password" color="grey" placeholder="enter password"></ion-input>
        </ion-col>
        <ion-col [size]="colEdge"></ion-col>
    </ion-row>
    <ion-row>
        <ion-col [size]="colEdge"></ion-col>
        <ion-col [size]="colCentre">
            <ion-button [disabled]="disableButton()" (click)="signIn()" expand="block" color="primary">Sign In</ion-button>
        </ion-col>
        <ion-col [size]="colEdge"></ion-col>
    </ion-row>
    <ion-row>
        <ion-col [size]="colEdge"></ion-col>
        <ion-col [size]="colCentre">
          <ion-button (click)="resetPassword()" expand="block" color="primary">Reset Password</ion-button>
        </ion-col>
        <ion-col [size]="colEdge"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col [size]="colEdge"></ion-col>
        <ion-col [size]="colCentre">
          <ion-button (click)="register()" expand="block" color="primary">Register</ion-button>
        </ion-col>
        <ion-col [size]="colEdge"></ion-col>
      </ion-row>
</ion-grid>
